{{!--
Partial: Searchbar
--}}


<section class="blog container" id="searchbar">
    <div class="row">
        <div class="col-md-12">
            <h2>Library</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem earum, sunt omnis consectetur
                unde quas exercitationem dolores sed doloremque ab aliquid, repellat explicabo id quod magni
                nobis eligendi non autem veritatis impedit quia ullam
            </p>
        </div>
        <div class="col-md-12">
            <div class="input-box input-group flex-nowrap py-2">
                <input class="form-control" type="search" id="search" name="q" aria-label="Search through site content"
                    placeholder=" Search on this website">
                <button class="btn btn-secondary">Search</button>
            </div>
        </div>
    </div>
</section>
