{{!-- 
    Partial: Infos
 --}}

    <section class="access">
        <div class="container">
            <h2>Address</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1748.8872976854823!2d-0.41796051808950613!3d51.69095249174453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876402f1c6f1d11%3A0x8fb53b8c2955148d!2sDiagon%20Alley!5e0!3m2!1sen!2sfr!4v1637574130248!5m2!1sen!2sfr"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                        </iframe>
                    </div>
                </div>

                <div class="col-md-6 text-center transports">
                    <p> <i class="fab fa-adn me-1"></i>Line direction : King's Cross Station</p>
                    <p>Stop : Privet Drive</p>
                    <p><i class="fas fa-copyright me-1"></i>Line direction : Diagon Alley</p>
                    <p>Stop : Gringotts</p>
                    <br>
                    <p>Shuttles from King's Cross Station *
                        <br> 6.30AM-0.30PM
                        <br> 1.30PM-7.30PM
                    </p>
                    <p><small>*within the limit of available seats</small></p>
                </div>
            </div>
        </div>
    </section>
