{{!--
    Page: Admin
--}}

    <title>Admin</title>
    <link rel="stylesheet" href="/assets/css/admin.css">
</head>

<body>

    {{!-- Partials --}}

    {{> admin/profile }}

    {{> admin/mininav }}

    {{> admin/user }}

    {{> admin/articles }}

    {{> admin/tomes }}

    {{> admin/comments }}

    {{> admin/messages }}



<script src="/assets/js/admin.js"></script>