{{!-- 
    Page: contact
 --}}

    <title>Contact</title>
    <link rel="stylesheet" href="/assets/css/contact.css">
</head>

<body>

    {{> main/header }}

    {{> contact/society}}

    {{> contact/form }}

    {{> contact/infos }}

