{{!-- 
    Page: Home
 --}}

    <title>home</title>
    <link rel="stylesheet" href="/assets/css/home.css">
</head>

<body>

    {{> home/header-home }}

    {{> home/events }}

    {{> home/carousel }}

    {{> home/form }}
    