{{!-- 
    Page: Register
 --}}
 
    <title>Register</title>
    <link rel="stylesheet" href="/assets/css/connexion.css">
</head>

<body>

    {{> main/header }}

    {{> login/register }}

    {{> modals/ terms-of-uses}}
