/* 
 * GENERAL
 * ******************* */

html {
    background-color: white;
}

/** typos **/

h1,
h2,
h3,
h4,
.navbar {

    font-family: 'Lato', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -1px;
    word-spacing: 8px;
}

h1 {
    color: white;
}

h2 {
    color: black;
    font-size: 165%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: rgb(162, 29, 29);
    width: 100px;
    content: "  ";
    margin: 0 auto;
    margin-top: 10px;
}

h3 {
    font-size: 100%;
}

p,
label {
    font-size: 7.5pt;
    font-weight: 300;
    line-height: 24px;
}

small {
    font-size: 7pt;
}

.fw-400 {
    font-weight: 400;
}

.bg-grey {
    background-color: rgb(151, 151, 151);
}

.user-library {
    background-color: rgb(189, 189, 189);
}


/** Buttons **/

.btn-submit {
    border: 1px solid black;
    background-color: lightgrey;
    font-size: 10pt;
    color: black;
}


.footer-btn {
    display: inline-block;
    height: 25px;
    width: 60px;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    padding: 4px;
    margin-top: 10px;
    font-size: small;
}

.btn-nav-log {
    display: flex;
    border: 1px solid black;
    background-color: lightgrey;
    font-size: 10pt;
    color: black;
    height: 25px;
    border-radius: 0;
    align-items: center;
    margin-bottom: 10px;
}

/** Padding & Margin **/

section {
    padding: 30px 0 60px 0;
}

/* 
    * NAVBAR
    * ******************* */

.nav-item {
    font-size: 8pt;
}

nav btn {
    font-size: 8pt;
}

.navbar-nav {
    font-family: 'Spartan', 'Arial', sans-serif;
    font-weight: 400;
}

.selectpicker {
    border: none;
    border-radius: 5px;
}



.tab-font .nav-link {
    font-family: 'Lato', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
}


.brd-txt-area {
    border: 1px solid lightgrey;
    width: 100%;
    border-radius: 5px;
}

/* 
    * Admin Profile
    * ******************* */

.profile {
    display: flex;
    align-items: center;
    background-color: lightgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.profile-section {
    text-align: center;
}

.profile-section img {
    width: 220;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.admin-bio {
    padding: 20px 20px;
    margin-left: 60px;
    height: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 13pt;
}

.admin-bio h3 {
    font-size: 100%
}

.admin-bio h3 span {
    font-weight: 300;
    font-size: 170%;
}


.admin-bio h4 {
    font-size: 100%;
}

.admin-bio h4 span {
    color: rgb(42, 184, 42);
    font-weight: bold;
}



.admin-mininav {
    background-color: lightgrey;
    padding-top: 5em;
}

/* 
 * ADMIN - USERS
 * ******************* */



/** User **/

.admin-user {
    background-color: rgb(172, 172, 172);
}

.admin-user .btn-gestion {
    background-color: rgb(221, 221, 221);
    font-size: 9pt;
}

.user-details {
    background-color: rgb(221, 221, 221);
    padding: 10px 10px;
    height: 100%;
    margin-bottom: 10px;
    border: 1px solid black;
    text-align: center;
    line-break: anywhere;

}

.user-details h4 {
    font-size: 90%;
}

.user-details img {
    border-radius: 50%;
    width: 40%;
    height: auto;
    font-size: 10pt;
    margin-bottom: 20px;
}

.user-details i {
    margin: 0 20px;
}

.gst-icons i:hover {
    color: rgb(94, 94, 94);
}

.btn-gestion {
    border: 0;
    background-color: rgb(231, 227, 227);
    color: black;
}


/** Blog **/

.admin-blog {
    background-color: lightgrey;
}

.card-details {

    background-color: rgb(231, 227, 227);
    padding: 20px 20px;
    height: 100%;
    border: 1px solid black;
    text-align: center;
}

.card-details i {
    font-size: 9pt;
}

.card-details h4 {
    font-size: 100%;
}

.card-details p {
    font-size: 8pt;
    line-break: anywhere;
}


.card-details img {
    margin: 0 auto;
    max-width: 100%;
    max-height: 285px;
    margin-bottom: 20px;
}

.btn-add {
    background-color: rgb(231, 227, 227);
    border: none;
    height: 100%;
    width: 100%;
    font-size: 25pt;
    color: black;
}

.btn-add:hover {
    color: grey;
}

/** Messages **/

.admin-messages {
    background-color: rgb(172, 172, 172);
}

.messages {
    background-color: lightgrey;
    border: 1px solid rgb(145, 145, 145);
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.users {
    text-align: center;
    text-transform: uppercase;
}

.users img {
    margin-top: 10px;
    border-radius: 50%;
    width: 40%;
    height: auto;
}

.mangas {
    text-align: center;
}


.user {
    text-align: center;
    margin-top: 10px;
}



.messages-admin {
    background-color: rgb(243, 243, 243);
    margin-bottom: 20px;
    width: 100%;
    padding: 5px;
}

.author {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment-content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
line-break: anywhere;
font-weight: 300;
}



.messages button {
    background-color: lightgrey;
    margin: 0 5px;
}


.txt-center {
    text-align: center;

}


.admin-mininav {
    font-size: 6pt;
    text-align: center;
}


cite {
    font-size: 8pt;
    line-break: anywhere;
}


/* 
 * FOOTER
 * ******************* */

footer {
    background-color: rgb(41, 41, 41);
    color: white;
    height: auto;
    font-size: 10pt;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
}

footer p {
    font-size: 9pt;
}


footer input {
    height: 25px;
}


.footer-us ul li {
    list-style: none;
}

.footer-us ul li a {
    margin-right: 30px;
}



.newsletter,
.footer-icons {
    margin-top: 10px;
}

.footer-btn {
    display: inline-block;
    height: 20px;
    width: 50px;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    margin: 5px;
    font-size: 10px;
}

/** Icons **/

.footer-icons a {
    font-size: 18px;
    margin: 0 10px;
    color: white;
}

.footer-icons a:hover {
    color: lightgray;
}

.copyright {
    margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 1px;
    text-align: center;
}

.copyright a {
    color: white;
}




@media screen and (max-width: 640px) {

    .footer-us,
    .footer-icons,
    .newsletter {
        margin-left: 0;
        margin-right: 0;
    }

    .login {
        margin-left: 0;
    }


    .profile-section img {
        margin-top: 20px;
    }



    .users img {
        margin: 0;
        width: 100px;
    }

    .users p {
        margin: 0;
    }

    .mangas img {
        margin-top: 0;
        height: 100px;
    }




    .user-details {
        margin-bottom: 0
    }

    .admin-bio {
        margin-left: 0;
    }
}