/* 
 * GLOBAL
 * ******************* */

html {
    background-color: white;
}

/** typos **/

h1,
h2,
h3,
h4,
.navbar {

    font-family: 'Lato', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -1px;
    word-spacing: 8px;
}

h1 {
    color: white;
}

h2 {
    color: black;
    font-size: 165%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: rgb(162, 29, 29);
    width: 100px;
    content: "  ";
    margin: 0 auto;
    margin-top: 10px;
}

h3 {
    font-size: 120%;
}

p,
label {
    font-size: 7.5pt;
    font-weight: 300;
    line-height: 24px;
}

small {
    font-size: 7pt;
}


.fw-400 {
    font-weight: 400;
}

/** Buttons **/

.btn-submit {
    border: 1px solid black;
    background-color: lightgrey;
    font-size: 10pt;
    color: black;
}

.btn-full {
    background-color: white;
    font-size: 0.8rem;
    color: rgb(117, 21, 21);
}

.btn-full:hover {
    background-color: rgb(117, 21, 21);
    transition: background-color 1s, color 1s, border 1s;
    color: white;
}

.btn-ghost {
    color: white;
    font-size: 0.8rem;
    border: 1px solid white;
}

.btn-ghost:hover {
    background-color: rgb(117, 21, 21);
    border: 1px solid rgb(117, 21, 21);
    transition: background-color 1s, color 1s, border 1s;
    color: white;
}

.btn-card {
    display: inline-block;
    color: rgb(44, 44, 44);
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 1s, color 1s, border 1s;
    margin-bottom: 20px;
}

.btn-card:hover {
    color: rgb(44, 44, 44);
}

.btn-red {
    background-color: rgb(187, 52, 52);
    color: white;
    font-size: 0.7rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.btn-red:hover {
    background-color: rgb(214, 91, 91);
    color: white;
}

.footer-btn {
    display: inline-block;
    height: 25px;
    width: 60px;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    padding: 4px;
    margin-top: 10px;
    font-size: small;
}

.btn-nav-log {
    display: flex;
    border: 1px solid black;
    background-color: lightgrey;
    font-size: 10pt;
    color: black;
    height: 25px;
    border-radius: 0;
    align-items: center;
    margin-bottom: 10px;
}

/** Padding & Margin **/

section {
    padding: 30px 0 60px 0;
}

/* 
    * NAVBAR
    * ******************* */

.nav-item {
    font-size: 8pt;
}

nav btn {
    font-size: 8pt;
}

.navbar-nav {
    font-family: 'Spartan', 'Arial', sans-serif;
    font-weight: 400;
}

.selectpicker {
    border: none;
    border-radius: 5px;
}

/* 
 * HEADER
 * ******************* */

header {

    background-image:
        linear-gradient(to right, rgba(199, 146, 146, 0.4), rgba(73, 7, 7, 0.6)),
        url(../images/All/header2.jpg);
    height: 80vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

/** titles **/

.homeTitle {
    position: absolute;
    top: 20%;
    width: auto;
}

.homeTitle a {
    margin: 0 5px;
}

.homeTitle h1 {
    font-size: 450%;

}

.homeTitle h1 span {

    font-weight: 400;
    letter-spacing: -6px;
}

.homeTitle p {

    color: white;
}




/* 
 * CARDS
 * ******************* */

.all-cards {
    background-color: white
}

.card-details {
    background-color: rgb(221, 221, 221);
    padding: 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
    height: 100%;
    text-align: center;
}

.card-details:hover {
    transform: translateY(20px);
    background-color: rgb(240, 239, 239);
    transition: all 0.5s;
}


.card-details h4 {
    font-size: 75%;
}


.card-details img {
    margin: 0 auto;
    max-width: 60%;
    max-height: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


/* 
 * BANNIERE
 * ******************* */

.carousel-item {
    height: 25vh;
    min-height: 400px;
    background: no-repeat center center scroll;
}


.carousel-item h3,
h4 {
    font-weight: 400;
}

.carousel-item h2 {
    margin-top: 60px;
}

.pack {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: white;
}

.pack h3 {
    font-weight: 400;
    color: rgb(162, 29, 29)
}

.pack h4 {
    font-weight: 100;
}

.pack-title {
    padding: 10px 10px 0 10px;
    position: relative;
}

.pack span {
    font-weight: 200;
    font-size: 50%;
    position: relative;
    top: -15px;
    left: 5px;
}

.pack-span {
    font-weight: 400;
    font-size: 30%;
    position: relative;
    top: -10px;
    left: 5px;
}

.txt-center {
    text-align: center;
}


/* 
 * CONTACT
 * ******************* */

.form h2,
p {
    margin-top: 0;
}



.contact-message {
    width: 100%;
}

.contact {
    text-align: center;
}

.contact i {
    color: rgb(187, 52, 52);
    margin-right: 5px;
}

.map {
    display : flex;
    align-items: center;
    position: relative;
    padding-bottom: 75%;
    height: auto;
    overflow: hidden;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* 
 * FOOTER
 * ******************* */

footer {
    background-color: rgb(41, 41, 41);
    color: white;
    height: auto;
    font-size: 10pt;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
}

footer p {
    font-size: 9pt;
}


footer input {
    height: 25px;
}


.footer-us ul li {
    list-style: none;
}

.footer-us ul li a {
    margin-right: 30px;
}



.newsletter,
.footer-icons {
    margin-top: 10px;
}

.footer-btn {
    display: inline-block;
    height: 20px;
    width: 50px;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    margin: 5px;
    font-size: 10px;
}

/** Icons **/

.footer-icons a {
    font-size: 18px;
    margin: 0 10px;
    color: white;
}

.footer-icons a:hover {
    color: lightgray;
}

.copyright {
    margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 1px;
    text-align: center;
}

.copyright a {
    color: white;
}


@media screen and (max-width: 640px) {


    .homeTitle {
        display: flex;
        flex-direction: column;
        width: 55%;
    }

    .homeTitle a {
        margin: 5px 0;
    }


    .card-details img {
        margin: 0 auto;
        max-width: 80%;
        max-height: 420px;
        margin-bottom: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    }

    /** Carousel **/




    .carousel-item h2 {
        font-size: 120%;
    }

    .pack {

        margin-bottom: 10px;
        background-color: white;
    }

    .pack h3 {
        font-weight: 400;
        color: rgb(162, 29, 29);
        max-height: 5px;
        font-size: 9pt;
    }

    .pack h4 {
        font-weight: 100;
        font-size: 150%;
    }

    .pack-title {
        padding: 10px 10px 0 10px;
        position: relative;
    }

    .pack-span {
        font-weight: 400;
        font-size: 40%;
        position: relative;
        top: -10px;
        left: 5px;
    }

    .btn-red {
        background-color: rgb(187, 52, 52);
        color: white;
        margin-bottom: 20px;
        max-height: 25px;
        max-width: auto;
        font-size: 8pt;
        text-align: center;
    }


    .carousel-item h3,
    h4 {
        font-size: 110%;
    }

    .pack-title h4 {
        margin-top: 20px;
    }

    /** Icons **/

    .login {
        margin-left: 0;
    }
}