{{!-- Nav-Login --}}

<div class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content container mb-2">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Identify</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            {{#if modalLoginOpen }}
            <div class="alert alert-success" role="alert">
                <p>{{ modalLoginOpen }}</p>
            </div>
            {{/if }}


            {{#if modalLoginBan}}
            <div class="alert alert-danger" role="alert">
                <p>{{ modalLoginBan }}</p>
            </div>
            {{/if}}

            <form action="/login" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label"></label>
                        <input name="username" type="text" class="form-control" id="logUsername"
                            placeholder="Username" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label"></label>
                        <input type="password" class="form-control" id="logPassword" name="password"
                            placeholder="Password" />
                        <p class="text-end"><small><a href="/lostpassword">Forgot Password ?
                                </a></small></p>
                    </div>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="rememberMe" />
                    <label class="form-check-label" for="rememberMe">Remember me</label>
                </div>
                <div class="modal-footer d-block">
                    <p class="float-start">Not registered yet ? <a class="ms-2" href="/register">Register</a>
                    </p>
                    <button type="submit" class="btn btn-nav-log float-end">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
