{{!--
Partial: Log
--}}


<section class="login">
    <div class="container">
        <div class="mb-5">
            <h2>Log in</h2>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="contact-form  mb-3">
                    <input
                    class="form-control"
                    name="Username"
                    type="text"
                    id="logUsername"
                    placeholder="Username">
                </div>
            </div>
            <div class="col-md-5">
                <div class="contact-form  mb-3">
                    <input
                    name="password"
                    class="form-control"
                    type="password"
                    id="logPassword"
                    placeholder="Password">

                    <p class="text-end"><small><a href="/forgotPW">Forgot Password ?</a></small></p>
                </div>
            </div>
            <div class="col-md-2">
                <a id="submitBtn" class="btn btn-log" href="/admin">Submit</a>
            </div>
        </div>
    </div>
</section>
