{{!--
Partial: Comments (Admin)
--}}


<section class="admin-messages" id="messages">
    <div class="container">
        <div class="row">
            <h3><i class="fas fa-comment-dots"></i> messages</h3>
        </div>

        {{!-- messages --}}

        {{#each messages}}


{{!-- Method override - Delete --}}
<form action="/admin/messages/{{id}}?_method=DELETE" method="post">

        <div class="messages">
            <div class="row">
                <div class="col-md-10">
                    <blockquote>
                        <cite class="me-5"><img src="assets/images/Users/user1.jpg" alt="">{{name}}</cite>
                     {{content}}
                    </blockquote>
                </div>
                <div class="col-md-2 text-center">
                    <div class="gst-icons mt-5">
                        <button type="button" class="btn-gestion" data-bs-toggle="modal"
                            data-bs-target="#delete-message-modal-{{ id }}">
                            <i class="fas fa-trash-alt"></i> </button>
                    </div>
                </div>
            </div>
        </div>

            {{> modals/comments }}
            
            {{/each}}
        
        </form>
    </div>
</section>