
{{!--
Partial: Mininav (Admin)
--}}

<section class="admin-mininav">
    <div class="container">
        <div class="row">
            <ul class="nav tab-font" style="font-size: 12pt;">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#user">User</a></li>
                <li class="nav-item"><a class="nav-link" href="#blog">Articles</a></li>
                <li class="nav-item"><a class="nav-link" href="#tomes">Tomes</a></li>
                <li class="nav-item"><a class="nav-link" href="#comments">Comments</a></li>
                <li class="nav-item"><a class="nav-link" href="#messages">Messages</a></li>

            </ul>
        </div>
    </div>
</section>
