{{!--
Partial: Profil
--}}


<section class="profile-section bg-grey mt-5 pb-5">
    <div class="container">
        <h2>Admin</h2>

        <div class="profile row">
            <div class="col-md-5">
                <img src="/assets/images/Users/{{ user.avatar }}">
            </div>

            <div class="admin-bio mt-3 col-md-5">
                <h3>Welcome, <span>{{ user.username}}</span></h3>
                <h4>Status: <span> Active</span></h4>
                <p class="mt-5"> {{user.biography}}</p>

                <button type="button" class="btn float-end mt-5" data-bs-toggle="modal"
                    data-bs-target="#edit-profile-modal-{{ user.id }}"><i class="fas fa-pencil-alt"></i>
                </button>
            </div>
        </div>

    </div>
</section>